* {
    margin: 0;
    padding: 0;
}

/* Variables globales en el CSS */
:root {
    --theme-color-one: #025ba0;
    --theme-color-two: #9bc72b;
    --theme-color-three: #f0c517;
    --theme-color-four: #bf1724;
    --theme-color-five: #5cc9f4;
    --white: #fff;
    --black: #000;
    --grey: #999;
   
}

body {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;

}

nav {
    float: left;
    color: white;
    background-color: #4C566A;

    border-right: 2px solid black;


    position: fixed; /* Revisar, el main atraviesa el nav. */
    

    text-align: center;

    width: 150px; 
    height: 100%; /* Establecemos al 100% el ancho en el ViewPort */
    /* La unidad vh es igual al 1% de la altura de la ventana */


}
nav #enlaces {
    
    height: 100%;

    display: flex;

    justify-content: center;
    flex-direction: column;


}

.puntos {
    height: 25px;
    width: 25px;
    margin: 10px 0 0 50%;

    border: 3px solid black;

    border-radius: 50%;
    display: inline-block;
}

nav div:nth-child(1) {
    margin-top: 25px;
}


/**
    ============================
            MAIN
    ============================
*/

main {
    width: 100%; /* REVISAR ****** */
    /*height: 100%;  Establecemos al 100% el ancho en el ViewPort */


    background-color: aliceblue;
}

.redes {

    

    position: absolute;
    top:40%;
    transform: rotate(90deg);

    right: 10%;
}
.redes > a {
    text-decoration: none;
    color: white;
    margin-right: 10px;

    font-weight: bold;
}

/* -- General DIVs */
main > div {
    margin-left: 150px;
    height: 100vh; /* Ponemos que ocupe toda la pantalla. */
    border-bottom: 1px solid black;

}

.home2Text {
    
    margin: 0 30%;

    padding: 30% 10px;

}

.home2Text h2 {
    font-size: 60px;
}


.imgSecc1 {
    float: left;
}

.home3Text {
    
    margin: 0 30%;

    padding: 30% 10px;

    border-bottom: 1px solid black;

}

.home3Text h2 {
    font-size: 60px;
}

.minijuego {
    border-bottom: 0;
    height: 200px;
}

.minijuego, img {
    height: 550px;
    text-align: center;
}

.regalo {
    position: absolute;
    height: 30px;
}


hr {
    clear: both;
}

#barra {
    width: 0%;
    position: fixed;
    z-index: 1;
    background-color: #b00;
}

/* LUCES EN LA BARRA */
/* Créditos (Chinedu Daniel) */
.light-bulbs {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0 auto;
    
    position: absolute;
    left: 200px;
   
}
  
.light-bulb {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 155px;
    position: relative;
    top: -5px;

    animation-duration: 1.1s;
    animation-iteration-count: infinite;

}

.light-bulb::after {
    content: '';
    top: -20px;
    left: 60%;
    position: absolute;
    width: 190px;
    height: 28px;
    border-bottom: 4px solid #222;
    border-radius: 50%;
    z-index: -1;
}

/* Al ultimo elemento de la lista le quitamos el "cable" */
.light-bulb:last-of-type::after {
    border: none;
}

.light-bulb::before {
    content: '';
    position: absolute;
    border: 2px solid #222;
    width: 10px;
    height: 10px;
    background: #222;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    left: 25%;
    top: -15px;
}
  
.light-bulb.theme-color-one {
    display: none;
    background: var(--theme-color-one); /* Aplicamos estilo con la variable. */
    animation-name: light-up-theme-color-one;
}
  
.light-bulb.theme-color-two {
    display: none;

    background: var(--theme-color-two);
    animation-name: light-up-theme-color-two;
}
  
.light-bulb.theme-color-three {
    display: none;

    background: var(--theme-color-three);
    animation-name: light-up-theme-color-three;
}
  
.light-bulb.theme-color-four {
    display: none;

    background: var(--theme-color-four);
    animation-name: light-up-theme-color-four;
}
  
.light-bulb.theme-color-five {
    display: none;

    background: var(--theme-color-five);
    animation-name: light-up-theme-color-five;
}

/**
    ============================
            FOOTER
    ============================
*/

footer {
    border-top: 1px solid black;
    margin-left: 150px;

    padding: 10px;
    z-index: 5;
    background-color: white;
}
#fInfo {
    padding-left: 30%;
    height: 70px;
}
#fDireccion {
    width: 200px;
    float: left;
    border-right: 2px solid rgb(23, 93, 158);
}

#titleDir {

    text-align: center;
    font-weight: bold;
}


#titleMedia {

    text-align: center;
    font-weight: bold;
}


#fSocialMedia{
    width: 300px;


    float: left;
}

#titleMedia {

    text-align: center;
    font-weight: bold;
}

#fSocialMedia > a{
    padding: 0 20px 0 20px;

    color: black;
}

#copy {
    clear:left;
    border-top: 1px solid black;
}


/**
    ============================
            SLIDER
    ============================
*/
.home1Text {
    box-shadow: 5px 5px hsl(0, 0%, 76%);
    position: relative;

}
.home1Text ul {
    list-style-type: none;
    margin: 0;
    padding: 0;    
}

.home1Text ul li  {
    position: relative;
    display: none;
    width: 100%;
    height: 100vh;
}

.home1Text ul li img {
    height: 100%;
    width: 100%;

    /* USAR EN OTRA IMAGEN
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-name: gradients;*/
}

/* Texto del medio del slider */
.home1Text h1 {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%); /* Centramos el texto. */
    z-index: 1;

    box-shadow: 5px 10px 2px #222;
    
    /*padding: 5px; Lo descolocaría al no utilizar border-box*/
    text-align: center;
    color: white;
}

.home1Text ul li span {
    position: absolute;
    bottom: 0;
    background: hsl(0, 1%, 72%, .1);
    left: 0;
    width: 100%;
    /*padding: 5px; Lo descolocaría al no utilizar border-box*/
    text-align: center;
    color: #fff;
}
/* buttons */
.home1Text .buttons  {
    position: absolute;
    top: 40%;
    width:  100%;
}
.home1Text .buttons .next {
    font-size: 2rem;
    background: hsl(0, 0%, 25%);
    color: hsl(0, 0%, 93%);
    right: 0;
    position: absolute;
    cursor: pointer;
    width: 50px;
    text-align: center;
}    
.home1Text .buttons .prev {
    font-size: 2rem;
    background: hsl(0, 0%, 25%);
    color: hsl(0, 0%, 93%);
    left: 0;
    position: absolute;
    cursor: pointer;
    width: 50px;
    text-align: center;
}   
.home1Text .buttons .next:hover {
    padding-right: 5px;
}
.home1Text .buttons .prev:hover {
    padding-left: 5px;
}

/* slider animation */
.home1Text ul li {
    animation-name: fade;
    animation-duration: 2.5s;
}
  
@keyframes fade {
    from {opacity: .2} 
    to {opacity: 1}
}

@keyframes gradients {
	0% {
		background-position: 0 0;
	}
	25% {
		background-position: 50% 0;
	}
	50% {
		background-position: 90% 0;
	}
	60% {
		background-position: 60%;
	}
	75% {
		background-position: 40%;
	}
	100% {
		background-position: 0 0;
	}
}

/* Animaciones bombillas */
@keyframes light-up-theme-color-one {
    0% {
      box-shadow: 0 1px 10px 5px var(--theme-color-one);
    }
    25% {
      box-shadow: 0 1px 15px 5px var(--theme-color-one);
    }
    50% {
      box-shadow: 0 1px 20px 5px var(--theme-color-one);
    }
    75% {
      box-shadow: 0 1px 25px 5px var(--theme-color-one);
    }
    100% {
      box-shadow: none;
    }
}
  
@keyframes light-up-theme-color-two {
    0% {
      box-shadow: 0 1px 10px 5px var(--theme-color-two);
    }
    25% {
      box-shadow: 0 1px 15px 5px var(--theme-color-two);
    }
    50% {
      box-shadow: 0 1px 20px 5px var(--theme-color-two);
    }
    75% {
      box-shadow: 0 1px 25px 5px var(--theme-color-two);
    }
    100% {
      box-shadow: none;
    }
}
  
@keyframes light-up-theme-color-three {
    0% {
      box-shadow: 0 1px 10px 5px var(--theme-color-three);
    }
    25% {
      box-shadow: 0 1px 15px 5px var(--theme-color-three);
    }
    50% {
      box-shadow: 0 1px 20px 5px var(--theme-color-three);
    }
    75% {
      box-shadow: 0 1px 25px 5px var(--theme-color-three);
    }
    100% {
      box-shadow: none;
    }
}
  
@keyframes light-up-theme-color-four {
    0% {
      box-shadow: 0 1px 10px 5px var(--theme-color-four);
    }
    25% {
      box-shadow: 0 1px 15px 5px var(--theme-color-four);
    }
    50% {
      box-shadow: 0 1px 20px 5px var(--theme-color-four);
    }
    75% {
      box-shadow: 0 1px 25px 5px var(--theme-color-four);
    }
    100% {
      box-shadow: none;
    }
} 
  
@keyframes light-up-theme-color-five {
    0% {
      box-shadow: 0 1px 10px 5px var(--theme-color-five);
    }
    25% {
      box-shadow: 0 1px 15px 5px var(--theme-color-five);
    }
    50% {
      box-shadow: 0 1px 20px 5px var(--theme-color-five);
    }
    75% {
      box-shadow: 0 1px 25px 5px var(--theme-color-five);
    }
    100% {
      box-shadow: none;
    }
}