* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 700px;
    box-sizing: border-box;

}

nav {
    float: left;
    color: white;
    background-color: #222;

 

    position: fixed; /* Revisar, el main atraviesa el nav. */
    

    text-align: center;

    width: 150px; 
    height: 100vh; /* Establecemos al 100% el ancho en el ViewPort */
    /* La unidad vh es igual al 1% de la altura de la ventana */


}
nav #enlaces {
    
    height: 100%;

    display: flex;

    justify-content: center;
    flex-direction: column;


}

nav span {
    padding-bottom: 20px;
}

main {
    width: 100vw; /* REVISAR ****** */
    height: 100vh; /* Establecemos al 100% el ancho en el ViewPort */


    background-color: aliceblue;
}

#home1Text {
    /*margin: 200px;*/
}

#barra {
    width: 0%;
    position: fixed;
    z-index: 1;
    background-color: orange;
}